@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  perspective: 150rem;
  position: relative;
  height: 97vw;
  transform-style: preserve-3d;
}

@screen md {
  .card {
    height: 50vw;
  }
}

@screen lg {
  .card {
    height: 33.33333333vw;
  }
}

.card-side {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  transform: rotateY(-180deg);
  background-color: blueviolet;
}

.front {
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}
