@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  perspective: 150rem;
  position: relative;
  /* padding-top: 100%; */
  transform-style: preserve-3d;
  aspect-ratio: 1 / 1;
}

/* @screen md {
  .card {
    padding-top: 50%;
  }
}

@screen lg {
  .card {
    padding-top: 33.33333333333%;
  }
} */

.card-side {
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  transform: rotateY(-180deg);
}

.front {
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.aspect {
  aspect-ratio: 1 / 1;
}

.mint-underline:after {
  background-color: rgb(0, 185, 254);
  display: block;
  content: '';
  height: 3px;
  width: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  text-decoration: none;
}

.mint-underline:hover:after {
  width: 100%;
  opacity: 1;
}

.h-header {
  height: calc(100% - 5rem);
}
